@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@500;700&display=swap');
.download-head
{
    margin-left: 6vw;
    margin-top: 2vw;
    font-size: 4vw;
    font-family: 'Coda Caption', sans-serif;
}
.hr-line
{
    margin-left: 4vw;
    margin-right: 6vw;
    opacity: 0.1;
}
.download-subhead
{
    margin-left:7vw;
    font-size: 3vw;
    font-family: 'Anton', sans-serif;
}
.download-content
{
    margin-left: 7vw;
    font-size:1.5vw;
    font-family: 'Imbue', serif;
}

.download-branch {
    background-color: rgb(250, 190, 190);
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 65vw;
   margin-left:7vw;
   margin-top:2vw ;
   border-radius: 00.5vw;
 }
 
 .download-branch td, .download-branch th {
   border: 0.05vw solid rgb(70, 16, 16);
   padding: 0.5vw;
   font-size: 1.5vw;
   font-family: 'Source Sans Pro', sans-serif;
 }
 
 .download-branch tr:nth-child(even){background-color: #faf0f1;}
 
 .download-branch tr:hover {background-color: #ddd;}
 
 .download-branch th {
   padding-top: 1vw;
   padding-bottom: 1vw;
   text-align: left;
   background-color: #f1777d;
   color: white;
   font-size: 1.5vw;;
 }
 .download-link
 {
     text-decoration: none;
     color:black;
     opacity: 0.8;
 }
 .download-link:hover
 {
     text-decoration: none;
     color:black;
     opacity: 1;
 }
 .last-link
 {
     margin-left: 10vw;
     color: #d9534f;
     font-size: 1.5vw;
 }