/* import overlay from '../images/overlay-2.png'; */

.card-image-1 {
  margin: auto;
  width: 80%;
  /* height: 90%; */
}
.footer {
  min-height: 240px;
  color: aliceblue;
}
.card-2 {
  margin: auto;
  width: 80%;
  /* height: 90%; */
}

/* .custom-carousel { */
/* height: 200px !important; */
/* } */

.showcase {
  /* background: url('../images/overlay-2.png') bottom center/cover no-repeat; */
  background-position: bottom;
  background-image: url('../images/overlay-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 600px;
}

.showcase h3 {
  color: aliceblue;
}

.header {
  z-index: 8;
}
.about {
  background-color: #941d1d;
}
.overlay {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.about-text {
  font-size: 18px;
  color: aliceblue;
}

img {
  border-radius: 8px;
}

.logo {
  padding-top: 40px;
  max-width: 140px;
  margin: auto;
  display: block;
}

.logo1 {
  padding-bottom: 40px;
  max-width: 200px;
  margin: auto;
  display: block;
}
.footer-text {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: block;
  margin: auto;
  max-width: 350px;
  font-size: 20px;
  font-weight: bold;
}

.abc {
  color: cyan;
}
